In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import svm
%matplotlib inline

train_data = pd.read_csv("train.csv")

In [2]:
train_data.Age = train_data.Age.fillna(train_data.Age.mean())
train_data = train_data.replace('male', 0).replace('female', 1).replace('C', 0).replace('Q', 1).replace('S', 2)
train_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
train_data.dropna()
train_data.head(10)

male = train_data.drop(train_data.index[train_data.Sex==1])
male.drop(['Sex'], axis=1, inplace=True)

female = train_data.drop(train_data.index[train_data.Sex==0])
female.drop(['Sex'], axis=1, inplace=True)
female.Embarked = female.Embarked.fillna(2.0)

In [3]:
male_sample_x = male.drop(['Survived'], axis=1)
male_sample_y = male.drop(["Pclass", "Age", "SibSp", "Parch", "Fare", "Embarked"], axis=1)

In [4]:
male_sample_x

     Pclass        Age  SibSp  Parch      Fare  Embarked
0         3  22.000000      1      0    7.2500       2.0
4         3  35.000000      0      0    8.0500       2.0
5         3  29.699118      0      0    8.4583       1.0
6         1  54.000000      0      0   51.8625       2.0
7         3   2.000000      3      1   21.0750       2.0
12        3  20.000000      0      0    8.0500       2.0
13        3  39.000000      1      5   31.2750       2.0
16        3   2.000000      4      1   29.1250       1.0
17        2  29.699118      0      0   13.0000       2.0
20        2  35.000000      0      0   26.0000       2.0
21        2  34.000000      0      0   13.0000       2.0
23        1  28.000000      0      0   35.5000       2.0
26        3  29.699118      0      0    7.2250       0.0
27        1  19.000000      3      2  263.0000       2.0
29        3  29.699118      0      0    7.8958       2.0
30        1  40.000000      0      0   27.7208       0.0
33        2  66.000000      0      0   10.5000       2.0
34        1  28.000000      1      0   82.1708       0.0
35        1  42.000000      1      0   52.0000       2.0
36        3  29.699118      0      0    7.2292       0.0
37        3  21.000000      0      0    8.0500       2.0
42        3  29.699118      0      0    7.8958       0.0
45        3  29.699118      0      0    8.0500       2.0
46        3  29.699118      1      0   15.5000       1.0
48        3  29.699118      2      0   21.6792       0.0
50        3   7.000000      4      1   39.6875       2.0
51        3  21.000000      0      0    7.8000       2.0
54        1  65.000000      0      1   61.9792       0.0
55        1  29.699118      0      0   35.5000       2.0
57        3  28.500000      0      0    7.2292       0.0
..      ...        ...    ...    ...       ...       ...
840       3  20.000000      0      0    7.9250       2.0
841       2  16.000000      0      0   10.5000       2.0
843       3  34.500000      0      0    6.4375       0.0
844       3  17.000000      0      0    8.6625       2.0
845       3  42.000000      0      0    7.5500       2.0
846       3  29.699118      8      2   69.5500       2.0
847       3  35.000000      0      0    7.8958       0.0
848       2  28.000000      0      1   33.0000       2.0
850       3   4.000000      4      2   31.2750       2.0
851       3  74.000000      0      0    7.7750       2.0
857       1  51.000000      0      0   26.5500       2.0
859       3  29.699118      0      0    7.2292       0.0
860       3  41.000000      2      0   14.1083       2.0
861       2  21.000000      1      0   11.5000       2.0
864       2  24.000000      0      0   13.0000       2.0
867       1  31.000000      0      0   50.4958       2.0
868       3  29.699118      0      0    9.5000       2.0
869       3   4.000000      1      1   11.1333       2.0
870       3  26.000000      0      0    7.8958       2.0
872       1  33.000000      0      0    5.0000       2.0
873       3  47.000000      0      0    9.0000       2.0
876       3  20.000000      0      0    9.8458       2.0
877       3  19.000000      0      0    7.8958       2.0
878       3  29.699118      0      0    7.8958       2.0
881       3  33.000000      0      0    7.8958       2.0
883       2  28.000000      0      0   10.5000       2.0
884       3  25.000000      0      0    7.0500       2.0
886       2  27.000000      0      0   13.0000       2.0
889       1  26.000000      0      0   30.0000       0.0
890       3  32.000000      0      0    7.7500       1.0

[577 rows x 6 columns]

In [5]:
male_sample_y

     Survived
0           0
4           0
5           0
6           0
7           0
12          0
13          0
16          0
17          1
20          0
21          1
23          1
26          0
27          0
29          0
30          0
33          0
34          0
35          0
36          1
37          0
42          0
45          0
46          0
48          0
50          0
51          0
54          0
55          1
57          0
..        ...
840         0
841         0
843         0
844         0
845         0
846         0
847         0
848         0
850         0
851         0
857         1
859         0
860         0
861         0
864         0
867         0
868         0
869         1
870         0
872         0
873         0
876         0
877         0
878         0
881         0
883         0
884         0
886         0
889         1
890         0

[577 rows x 1 columns]

In [6]:
female_sample_x = female.drop(['Survived'], axis=1)
female_sample_y = female.drop(["Pclass", "Age", "SibSp", "Parch", "Fare", "Embarked"], axis=1)

In [7]:
female_sample_x

     Pclass        Age  SibSp  Parch      Fare  Embarked
1         1  38.000000      1      0   71.2833       0.0
2         3  26.000000      0      0    7.9250       2.0
3         1  35.000000      1      0   53.1000       2.0
8         3  27.000000      0      2   11.1333       2.0
9         2  14.000000      1      0   30.0708       0.0
10        3   4.000000      1      1   16.7000       2.0
11        1  58.000000      0      0   26.5500       2.0
14        3  14.000000      0      0    7.8542       2.0
15        2  55.000000      0      0   16.0000       2.0
18        3  31.000000      1      0   18.0000       2.0
19        3  29.699118      0      0    7.2250       0.0
22        3  15.000000      0      0    8.0292       1.0
24        3   8.000000      3      1   21.0750       2.0
25        3  38.000000      1      5   31.3875       2.0
28        3  29.699118      0      0    7.8792       1.0
31        1  29.699118      1      0  146.5208       0.0
32        3  29.699118      0      0    7.7500       1.0
38        3  18.000000      2      0   18.0000       2.0
39        3  14.000000      1      0   11.2417       0.0
40        3  40.000000      1      0    9.4750       2.0
41        2  27.000000      1      0   21.0000       2.0
43        2   3.000000      1      2   41.5792       0.0
44        3  19.000000      0      0    7.8792       1.0
47        3  29.699118      0      0    7.7500       1.0
49        3  18.000000      1      0   17.8000       2.0
52        1  49.000000      1      0   76.7292       0.0
53        2  29.000000      1      0   26.0000       2.0
56        2  21.000000      0      0   10.5000       2.0
58        2   5.000000      1      2   27.7500       2.0
61        1  38.000000      0      0   80.0000       2.0
..      ...        ...    ...    ...       ...       ...
807       3  18.000000      0      0    7.7750       2.0
809       1  33.000000      1      0   53.1000       2.0
813       3   6.000000      4      2   31.2750       2.0
816       3  23.000000      0      0    7.9250       2.0
820       1  52.000000      1      1   93.5000       2.0
823       3  27.000000      0      1   12.4750       2.0
829       1  62.000000      0      0   80.0000       2.0
830       3  15.000000      1      0   14.4542       0.0
835       1  39.000000      1      1   83.1583       0.0
842       1  30.000000      0      0   31.0000       0.0
849       1  29.699118      1      0   89.1042       0.0
852       3   9.000000      1      1   15.2458       0.0
853       1  16.000000      0      1   39.4000       2.0
854       2  44.000000      1      0   26.0000       2.0
855       3  18.000000      0      1    9.3500       2.0
856       1  45.000000      1      1  164.8667       2.0
858       3  24.000000      0      3   19.2583       0.0
862       1  48.000000      0      0   25.9292       2.0
863       3  29.699118      8      2   69.5500       2.0
865       2  42.000000      0      0   13.0000       2.0
866       2  27.000000      1      0   13.8583       0.0
871       1  47.000000      1      1   52.5542       2.0
874       2  28.000000      1      0   24.0000       0.0
875       3  15.000000      0      0    7.2250       0.0
879       1  56.000000      0      1   83.1583       0.0
880       2  25.000000      0      1   26.0000       2.0
882       3  22.000000      0      0   10.5167       2.0
885       3  39.000000      0      5   29.1250       1.0
887       1  19.000000      0      0   30.0000       2.0
888       3  29.699118      1      2   23.4500       2.0

[314 rows x 6 columns]

In [8]:
male_svm = svm.SVC()
male_svm.fit(male_sample_x, male_sample_y.values.ravel())

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [9]:
female_svm = svm.SVC()
female_svm.fit(female_sample_x, female_sample_y.values.ravel())

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [10]:
test_data = pd.read_csv("test.csv")
test_data.Age = test_data.Age.fillna(test_data.Age.mean())
test_data = test_data.replace('male', 0).replace('female', 1).replace('C', 0).replace('Q', 1).replace('S', 2)
test_data.Embarked = test_data.Embarked.fillna(2.0)
test_data.Fare = test_data.Fare.fillna(0) # to be dead


ids = test_data['PassengerId']
sex = test_data['Sex']
test_data.drop(['PassengerId', 'Sex', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test_data.head()

   Pclass   Age  SibSp  Parch     Fare  Embarked
0       3  34.5      0      0   7.8292         1
1       3  47.0      1      0   7.0000         2
2       2  62.0      0      0   9.6875         1
3       3  27.0      0      0   8.6625         2
4       3  22.0      1      1  12.2875         2

In [11]:
output = pd.DataFrame(columns=["PassengerId","Survived"])


for i in range(len(ids)) :
    row = test_data[i:i+1]
    predicted = None
    if sex[i] == 0 : # male
        predicted = male_svm.predict(row)
    elif sex[i] == 1 : # female
        predicted = female_svm.predict(row)
    
    insert = pd.Series([ids[i], predicted[0]], index=output.columns)
    output = output.append(insert, ignore_index=True)

#    df = pd.DataFrame([[ids[i], predicted[0]]], columns=["PassengerId","Survived"])
#    output = output.append(df, ignore_index=True)
#print(output)

In [12]:
output.describe()

        PassengerId  Survived
count           418       418
unique          418         2
top            1023         0
freq              1       273

In [13]:
output.to_csv('1st_submission_by_svm.csv', index=False)