In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
%matplotlib inline

train_data = pd.read_csv("train.csv")

In [2]:
train_data.Age = train_data.Age.fillna(train_data.Age.mean())
train_data.Embarked = train_data.Embarked.fillna(2.0)
train_data = train_data.replace('male', 0).replace('female', 1).replace('C', 0).replace('Q', 1).replace('S', 2)
train_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
train_data.dropna()
train_data.head(10)

sample_x = train_data.drop(['Survived'], axis=1)
sample_y = train_data.drop(["Pclass", "Age", "SibSp", "Parch", "Fare", "Embarked", "Sex"], axis=1)

In [3]:
sample_x

     Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0         3    0  22.000000      1      0    7.2500       2.0
1         1    1  38.000000      1      0   71.2833       0.0
2         3    1  26.000000      0      0    7.9250       2.0
3         1    1  35.000000      1      0   53.1000       2.0
4         3    0  35.000000      0      0    8.0500       2.0
5         3    0  29.699118      0      0    8.4583       1.0
6         1    0  54.000000      0      0   51.8625       2.0
7         3    0   2.000000      3      1   21.0750       2.0
8         3    1  27.000000      0      2   11.1333       2.0
9         2    1  14.000000      1      0   30.0708       0.0
10        3    1   4.000000      1      1   16.7000       2.0
11        1    1  58.000000      0      0   26.5500       2.0
12        3    0  20.000000      0      0    8.0500       2.0
13        3    0  39.000000      1      5   31.2750       2.0
14        3    1  14.000000      0      0    7.8542       2.0
15        2    1  55.000000      0      0   16.0000       2.0
16        3    0   2.000000      4      1   29.1250       1.0
17        2    0  29.699118      0      0   13.0000       2.0
18        3    1  31.000000      1      0   18.0000       2.0
19        3    1  29.699118      0      0    7.2250       0.0
20        2    0  35.000000      0      0   26.0000       2.0
21        2    0  34.000000      0      0   13.0000       2.0
22        3    1  15.000000      0      0    8.0292       1.0
23        1    0  28.000000      0      0   35.5000       2.0
24        3    1   8.000000      3      1   21.0750       2.0
25        3    1  38.000000      1      5   31.3875       2.0
26        3    0  29.699118      0      0    7.2250       0.0
27        1    0  19.000000      3      2  263.0000       2.0
28        3    1  29.699118      0      0    7.8792       1.0
29        3    0  29.699118      0      0    7.8958       2.0
..      ...  ...        ...    ...    ...       ...       ...
861       2    0  21.000000      1      0   11.5000       2.0
862       1    1  48.000000      0      0   25.9292       2.0
863       3    1  29.699118      8      2   69.5500       2.0
864       2    0  24.000000      0      0   13.0000       2.0
865       2    1  42.000000      0      0   13.0000       2.0
866       2    1  27.000000      1      0   13.8583       0.0
867       1    0  31.000000      0      0   50.4958       2.0
868       3    0  29.699118      0      0    9.5000       2.0
869       3    0   4.000000      1      1   11.1333       2.0
870       3    0  26.000000      0      0    7.8958       2.0
871       1    1  47.000000      1      1   52.5542       2.0
872       1    0  33.000000      0      0    5.0000       2.0
873       3    0  47.000000      0      0    9.0000       2.0
874       2    1  28.000000      1      0   24.0000       0.0
875       3    1  15.000000      0      0    7.2250       0.0
876       3    0  20.000000      0      0    9.8458       2.0
877       3    0  19.000000      0      0    7.8958       2.0
878       3    0  29.699118      0      0    7.8958       2.0
879       1    1  56.000000      0      1   83.1583       0.0
880       2    1  25.000000      0      1   26.0000       2.0
881       3    0  33.000000      0      0    7.8958       2.0
882       3    1  22.000000      0      0   10.5167       2.0
883       2    0  28.000000      0      0   10.5000       2.0
884       3    0  25.000000      0      0    7.0500       2.0
885       3    1  39.000000      0      5   29.1250       1.0
886       2    0  27.000000      0      0   13.0000       2.0
887       1    1  19.000000      0      0   30.0000       2.0
888       3    1  29.699118      1      2   23.4500       2.0
889       1    0  26.000000      0      0   30.0000       0.0
890       3    0  32.000000      0      0    7.7500       1.0

[891 rows x 7 columns]

In [4]:
sample_y

     Survived
0           0
1           1
2           1
3           1
4           0
5           0
6           0
7           0
8           1
9           1
10          1
11          1
12          0
13          0
14          0
15          1
16          0
17          1
18          0
19          1
20          0
21          1
22          1
23          1
24          0
25          1
26          0
27          0
28          1
29          0
..        ...
861         0
862         1
863         0
864         0
865         1
866         1
867         0
868         0
869         1
870         0
871         1
872         0
873         0
874         1
875         1
876         0
877         0
878         0
879         1
880         1
881         0
882         0
883         0
884         0
885         0
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [5]:
rf = RandomForestClassifier(min_samples_leaf=1, random_state=0)
rf.fit(sample_x, sample_y.values.ravel())

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [6]:
test_data = pd.read_csv("test.csv")
test_data.Age = test_data.Age.fillna(test_data.Age.mean())
test_data = test_data.replace('male', 0).replace('female', 1).replace('C', 0).replace('Q', 1).replace('S', 2)
test_data.Embarked = test_data.Embarked.fillna(2.0)
test_data.Fare = test_data.Fare.fillna(0) # to be dead

ids = test_data['PassengerId']
test_data.drop(['PassengerId',  'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test_data.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  34.5      0      0   7.8292         1
1       3    1  47.0      1      0   7.0000         2
2       2    0  62.0      0      0   9.6875         1
3       3    0  27.0      0      0   8.6625         2
4       3    1  22.0      1      1  12.2875         2

In [7]:
output = pd.DataFrame(columns=["PassengerId","Survived"])


for i in range(len(ids)) :
    row = test_data[i:i+1]
    predicted = rf.predict(row)
    insert = pd.Series([ids[i], predicted[0]], index=output.columns)
    output = output.append(insert, ignore_index=True)

#    df = pd.DataFrame([[ids[i], predicted[0]]], columns=["PassengerId","Survived"])
#    output = output.append(df, ignore_index=True)
#print(output)

In [8]:
output.describe()

        PassengerId  Survived
count           418       418
unique          418         2
top            1023         0
freq              1       280

In [9]:
output.to_csv('3rd_submission_by_RandomForrest.csv', index=False)